body {

    font-family: "Open Sans", sans-serif;
    font-weight: weight;
    font-style: normal;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 230px;
}

.mary {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

.r {
    color: #FD6E0A;
}

nav>ul>li {
    list-style: none;
    margin-right: 51px;
}

nav>ul {
    display: flex;
    align-items: center;
}

.div {
    max-width: 500px;
}

nav a {
    text-decoration: none;
    color: #474747;


}

.button {
    border-radius: 5px;
    background: #FD6E0A;
    color: white;
    padding: 15px;
    border: 0px;
    font-size: 20px;
    font-weight: 700;
}

.header {
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-position: bottom right;
    background-repeat: no-repeat;
}

.banner {
    padding: 30px 30px 0px 230px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .hardy {
    width: 500px;
}

.hi {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 0px;
    color: #474747;
}

.name {
    font-weight: 700;
    font-size: 85px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.para {
    font-weight: 400;
    font-size: 18px;
    margin-top: 0px;
    color: #757575;
    ;

}

.about {
    /* margin: 130px; */
    padding: 130px;
    background: #FFF8F3;
    border-radius: 10px;
}

.section-title {
    color: #181818;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}

.section-para {
    color: #757575;
    font-size: 18px;
    text-align: center;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
    margin: 30px;

}

.info-title {
    font-family: "Open Sans";
    margin-bottom: 0px;
}

.info-description {
    color: #757575;
    padding: 5px;
}

#para {
    padding: 30px 150px 50px 150px;
}

.skill-container {
    display: flex;
    gap: 24px;

}

.skill {
    padding: 30px;
    background-color: white;
    box-shadow: 0px 6px 50px 0px #0000000F;
    border-radius: 5px;
    justify-content: center;
}

.skill-para {
    color: #757575;
}

main section {
    margin-top: 130px;
}
.resume-column{
    text-align: left;
}
.resume-column-title{
font-size: 30px;
font-weight: 700;
color:#474747;
}
.resume-item-title{
font-size: 25px;
font-weight: 700;
color: #474747;
}
.resume-item-institute{
color:#757575;
font-size: 20px;
font-weight: 600;
text-align: left;
}
.resume-item-description{
  color: #757575;
font-size: 16px;
font-weight: 400;
line-height: 28px;
}
.resume-container{
    display: flex;
}
.resume-container hr{
margin: 30px;
}
.download-cv{
text-align: center;
margin-top: 50px;
}
footer{
    background-color:#FFF8F3;
    padding: 130px 150px;
    margin-top: 113px;
    }
    .footer-container{
        display: flex;
        gap:100px;
    }
.footer-title{
font-size: 35px;
font-weight: 700;
text-align: left;
color: #181818;
}
.footer-description{
font-size: 16px;
font-weight: 400;
text-align: left;
color: #474747;
}
.footer-column{
    width: 50%;
    padding-left: 180px;
}